<!-- Section Cards Start- Adrian Coman -->
<section class="section-container">
  <div class="location-cards">
    <div class="location-card">
      <p class="loc-card-title">Cafe</p>
      <div class="location">
        <p class="bold-text">Chicago</p>
        <p class="grey-text">
          Handcrafted coffee, baked goods, and premium ice cream.
        </p>
      </div>
      <div class="open-hours">
        <div>
          <p class="bold-text">Monday - Friday</p>
          <p class="pink-text">06:00 AM - 10:00 PM</p>
        </div>
        <div>
          <p class="bold-text">Saturday - Sunday</p>
          <p class="pink-text">08:00 AM - 16:00 PM</p>
        </div>
      </div>
      <div class="loc-contacts">
        <a href="tel:+61(0)383766284" class="grey-text">+61(0)383766284</a>
        <a href="mailto:noreply@envato.com" class="grey-text"
          >noreply@envato.com</a
        >
      </div>
    </div>
    <div class="location-card">
      <p class="loc-card-title">Food Truck</p>
      <div class="location">
        <p class="bold-text">Los Angeles</p>
        <p class="grey-text">
          Fusion cuisine and refreshing ice cream made with passion.
        </p>
      </div>
      <div class="open-hours">
        <div>
          <p class="bold-text">Monday - Friday</p>
          <p class="pink-text">06:00 AM - 10:00 PM</p>
        </div>
        <div>
          <p class="bold-text">Saturday - Sunday</p>
          <p class="pink-text">08:00 AM - 16:00 PM</p>
        </div>
      </div>
      <div class="loc-contacts">
        <a href="tel:+61(0)383766284" class="grey-text">+61(0)383766284</a>
        <a href="mailto:noreply@envato.com" class="grey-text"
          >noreply@envato.com</a
        >
      </div>
    </div>
    <div class="location-card">
      <p class="loc-card-title">Cafe</p>
      <div class="location">
        <p class="bold-text">New York</p>
        <p class="grey-text">
          Specialty teas, artisanal pastries, mouth-watering ice cream.
        </p>
      </div>
      <div class="open-hours">
        <div>
          <p class="bold-text">Monday - Friday</p>
          <p class="pink-text">06:00 AM - 10:00 PM</p>
        </div>
        <div>
          <p class="bold-text">Saturday - Sunday</p>
          <p class="pink-text">08:00 AM - 16:00 PM</p>
        </div>
      </div>
      <div class="loc-contacts">
        <a href="tel:+61(0)383766284" class="grey-text">+61(0)383766284</a>
        <a href="mailto:noreply@envato.com" class="grey-text"
          >noreply@envato.com</a
        >
      </div>
    </div>
  </div>
</section>
<!-- Section Cards End- Adrian Coman -->
